<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>datastorage</title>

    <link rel="stylesheet" href="site.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<h2>datastorage</h2>
<table id="table_measures">
    <thead>
    <tr>
        <th>id</th>
        <th>sensor id</th>
        <th>timestamp</th>
        <th>data</th>
    </tr>
    </thead>
    <tbody v-if="response && response.content">
    <tr v-for="item in response.content">
        <td>{{ item.id }}</td>
        <td>{{ item.sensorId }}</td>
        <td>{{ item.timestamp }}</td>
        <td>{{ item.data || "null" }}</td>
    </tr>
    </tbody>
    <tbody v-else>
    <tr>
        <td colspan="4">
            Нет данных для отображения
        </td>
    </tr>
    </tbody>
</table>
<script src="site.js"></script>
</body>
</html>
